<carousel>
  <slide>
    <img src="https://img.freepik.com/free-photo/river-foggy-mountains-landscape_1204-511.jpg?t=st=1709379748~exp=1709380348~hmac=c54c6784bc8eefdc499448599d3cd670e376b4eca35de9d8003d597dab712001"
     alt="first slide" style="display:block;width:100%" />
  </slide>
  <slide>
    <img src="https://img.freepik.com/free-photo/majestic-mountain-peak-tranquil-winter-landscape-generated-by-ai_188544-15662.jpg"
     alt="first slide" style="display:block;width:100%" />
  </slide>
  <slide>
    <img src="https://img.freepik.com/free-photo/beautiful-wide-shot-eiffel-tower-paris-surrounded-by-water-with-ships-colorful-sky_181624-5118.jpg?w=1380&t=st=1709379865~exp=1709380465~hmac=2a6d2ee8ec7cbdab612a8f7fe753ad7135f7659bb7dd6da1d7adb3ed5430abc5"
    alt="first slide" style="display:block;width:100%" />
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Welcome to the shop</h1>
  </div>
</section>
